.App{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: monospace;
background-color: black;
color: white;
border-radius: 20px;
margin: 10px;
overflow-x: scroll;
}
input{
    align-self: center;
    border-radius: 4px;
    padding: 10px;
    font-family: monospace;
    background: #8CE8C2;
    color: black;
}
button{
    padding: 10px;
    border-radius: 8px;
    background: #8CE8C2;
    color: black;
    font-family: monospace;
}
button:hover{
    background: rgb(59, 59, 59);
    color: #8CE8C2;  
    cursor: pointer;
}

